#content {
    display: flex;
    width: 100vw;
    height: calc(100vh - 88px);
    background-color: #fff;


    #career {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        height: calc(100vh - 104px);
        // margin-left: 14%;

        .hiringLabel {
            color: #445A63;
            font-family: Poppins;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 40px;
            margin-top: 18px;
        }

        .offer-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            min-width: 1050px;

            //* Card container
            .offer-card-container {
                display: flex;
                width: 670px;
                height: 680px;
                background-color: #F7F9FC;
                border: 1px solid #DEE2E7;
                border-radius: 4%;
                margin-top: 90px;
                margin-left: 57px;

                .card-content-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: 100%;
                    width: 100%;

                    .card-content {
                        color: #445A63;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 200% */

                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        margin: 30px;

                        li {
                            margin-left: 20px;
                            margin-top: 8px;
                        }

                        h1 {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin-right: 24px;
                        }

                        h2 {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 36px;
                            /* 225% */

                            margin-top: 15px;
                        }

                        p {
                            margin-top: 17px;
                        }

                        ul {
                            margin-top: 12px;
                        }



                        .rent {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 200% */
                        }

                        .brackets {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }

                        .compensation {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px;
                        }

                    }

                    .card-footer {
                        width: 100%;
                        height: 112px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        border-top: 2px solid #DEE2E7;
                        position: relative;
                        bottom: 0px;


                        .footer-note {
                            color: #445A63;
                            font-family: Poppins;
                            font-size: 9px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                            /* 180% */
                            width: 225px;
                            margin: 32px;

                            a {
                                color: #00A5EA;
                                font-size: 10px;
                                text-decoration-line: underline;
                                transition: filter 0.2s;

                                &:hover {
                                    filter: brightness(1.2);
                                }
                            }

                        }

                        .btnContact-card {
                            color: #103366;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            width: 160px;
                            height: 43px;
                            margin: 32px;
                            background: linear-gradient(225deg, #19C7F2 0%, #00A5EA 100%);
                            box-shadow: none;
                            border: none;
                            border-radius: 8%/32%;

                            &:hover {
                                filter: brightness(1.2);
                            }

                        }

                    }
                }
            }
        }

        .offer-wrapper>.offer-list {
            color: #445A63;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            ul {
                padding: 20px;
                width: 250px;

                li {
                    list-style-type: none;
                    width: 208px;
                    border-top: 2px solid #DEE2E7;
                    margin-left: 20px;
                    padding: 20px 0px;
                    padding-right: 30px;
                    opacity: 0.5;

                    &:first-child {
                        color: #445A63;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        opacity: 1;
                    }
                }
            }

        }

    }


}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 190px;
    background-color: #F7F9FC;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #445A63;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    gap: 36px;
    min-width: 1000px;

    .policies-wrapper {
        display: flex;
        width: calc(100% - 480px);
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;
        flex-wrap: wrap;
        max-height: 100px;

        .billing,
        .address {
            display: inherit;
            flex-direction: column;

            &>.value {
                font-weight: 600;
            }

        }
    }

    .social {
        display: flex;
        width: calc(100% - 480px);
        flex-direction: row;
        justify-content: space-between;

        .socials {
            display: flex;
            flex-direction: row;
            gap: 10px;

        }
    }

    p.centered {
        color: #FFF;
        font-family: 'DM Sans';
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 123.077% */

        opacity: 0.5;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
        position: relative;
    }
}

//* MEDIA
@media all and (max-width: 800px) {
    #content {
        height: calc(100vh - 88px);
        padding-top: 88px;
    }
}