<div id="container" class="container" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">
    <!-- Xtrades logo -->
    <div id="logo" *ngIf="!showHamburger" @thumbsInOut class="anim"
        [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">
        <img id="group7548" src="../../assets/group7548.svg" alt="Xtrades logo">
        <span id="group7548-label" *ngIf="!isPageNarrow">Xtrades</span>
    </div>
    <div id="hamburger" *ngIf="showHamburger" @thumbsInOut class="anim" (click)="toggleSidebar()">
        <img src="../../assets/hamburger.svg" alt="Menu button">
    </div>
    <div id="content" @thumbsInOut [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'" class="anim">
        
        <div class="menu-links anim" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">
            <span id="home" routerLink="login" routerLinkActive="active" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">Home</span>
            <span *ngIf="isPageNarrow" routerLink="career" routerLinkActive="active">Career</span>

        </div>

        <div id="buttons" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">
            <button class="btn-membership" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'">
                <span>Membership</span>
                <svg *ngIf="isPageNarrow" class="stroke" xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path opacity="0.5" d="M1 13L7 7L1 1" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <button class="btn-login" [ngClass]="!isPageNarrow ? 'horizontal' : 'vertical'" routerLink="/login"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                <span>Login</span>
                <svg *ngIf="isPageNarrow" class="stroke" xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13L7 7L1 1" stroke="#103366" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <div *ngIf="isPageNarrow" class="vertical-footer-container">
                <div class="policies">
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Refund Policy</li>
                        <li>Terms & Conditions</li>
                    </ul>
                </div>
                <div class="copyrights">
                    © Copyright 2022 - Xtrades. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>