.body {


    min-height: 100%;









}

.body-trimmed {


}

.body-md-screen {


}

.narrow {

}

.frosted {
    height: 100vh;
    width: calc(100% - 290px);
    position: fixed;
    top: 0;
    right: 0;

    backdrop-filter: blur(10px);
    z-index: 8;

    &::before {
        content: '';    
        backdrop-filter: blur(5px);
    }
}