
#content {
    display: block;
    width: 100%;
    height: calc(100% + 88px);

    //* Dotted background
    background: linear-gradient(180deg, #133B75 0%, #0C274F 100%);
    background-image: radial-gradient(rgba(255, 255, 255, 0.095) 1px, transparent 0);
    background-size: 36px 36px;
    background-position: 0px -36px;
}

#footer {
    position: relative;
    bottom: 30px;

    p.centered {
        color: #FFF;
        font-family: 'DM Sans';
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 123.077% */

        opacity: 0.5;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
        position: relative;
    }
}

#backgroundLogo {
    height: calc(100vh - 104px); //* remember about navbar height + paddings
    min-height: 600px;
    background-image: url( '../../assets/group7549.svg' );
    background-repeat: no-repeat;
    background-position: center 47px;

    display: flex;
    justify-content: center;
    align-items: center;

}
