.wrapper {
    display: flex;
    flex-direction: column;




}


@media all and (max-width: 1000) {
    .wrapper {
        flex-direction: row;
        
        router-outlet {
            height: 100%;
        }
    }
}

.router-wrapper {

}