@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    // width: 1440px;
    // height: 1118px;
    background: linear-gradient(180deg, #133B75 0%, #0C274F 100%);

}

body {
    border: none;
    min-width: 500px;
    // background-repeat: ;
}

app-root {
    // width: 1440px;
    // height: 1118px;
    // width: 100%;
    // height: 100%;
    // aspect-ratio: 1440/1118;
    background: linear-gradient(180deg, #133B75 0%, #0C274F 100%);
}

